*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  outline: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery {
  width: 1440px;
  height: 696px;
  padding: 24px 156px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform, 1s;
}
.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.05);
}
